body {
  font-family: 'Oxygen', sans-serif;
}

#emptyList {
  text-align: center;
}

div {
/*  border: 1px solid red;*/
}

#MainContent {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

#mainList {
  display: inline-block;
  width: 80%;
}

#filterTextInput {
  width: 100px;
}

#tagList {
/*  list-style: none;*/
  padding: 0px;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

.tagInclude button {
  background: CornflowerBlue;
}

.tagExclude button {
  background: LightCoral;
}

.tagItem button:hover:before, .tagItem button:focus:before {
  content: "x ";
}

@media (min-width: 900px) {
  #headerInfo {
    float: right;
    display: inline-block;
  }
  .tagItem button {
    width: 95px;
/*    background: CornflowerBlue;*/
    color: #FFF;
    border: none;
    text-align: left;
    margin-left: 5px;
  }
  #mainList {
    display: inline-block;
    width: 80%;
  }
}
@media (max-width: 900px) {
  #headerInfo {
    width: 80%;
    float: left;
    display: block;
  }
  .tagItem button {
    width: 95px;
/*    background: CornflowerBlue;*/
    color: #FFF;
    border: none;
    text-align: left;
  }
  #mainList {
    display: inline-block;
    width: 95%;
  }
}

#sourceList ul {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: small;
  color: gray;
}

#sourceList p {
  padding: 0;
  margin: 0;
}

#nogoodnews {
  margin: 2em;
  color: gray;
  font-size: small;
}

#clock {
  display: inline;
  float: right;
  font-family: monospace;
}

li div {
  padding: 0 0 0 1em;
}

.newsItem {
  margin: 0 0 1em 0;
}

.newsItem h2{
  display: inline;
  font-family: 'Oxygen', sans-serif;
}

.newsItemInfo {
  padding-left: 0.5em;
  font-size: 12px;
  white-space: nowrap;
}

a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

#cow img {
  padding: 20px 0 10px 0;
  max-width: 100px;
}
